input[type=text]{
	padding-left: 3rem;
	position: relative;
}
.fa-user{
	position: absolute;
	left: 6%;
	top: 46%;
}
.fa-envelope{
	position: absolute;
	left: 6%;
	top: 46%;
}
.fa-phone{
	position: absolute;
	left: 6%;
	top: 46%;
	transform: rotate(100deg);
}
.fa-globe{
	position: absolute;
	left: 6%;
	top: 46%;
}
.fa-edit{
	position: absolute;
	left: 4%;
	top: 4%;
}
textarea.form-control{
	padding-left: 4rem;
}
.container{
	background:#E4E4E4;
}